<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recover Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="recover-content ion-text-center" padding>
  <form (ngSubmit)="recover()" [formGroup]="recoverForm" #recoverForm2="ngForm">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-card>
            <ion-card-content class="ion-text-center">
              Write the email address that you use to create your PREX-Cinema account and recover it!
            </ion-card-content>
          </ion-card>
          <ion-item class="ion-text-center">
            <ion-input email type="email" #emailInput placeholder="Email Address" name="emailAddress" formControlName="emailAddress" required></ion-input>
          </ion-item>
          <ion-button style="margin: 1rem;" class="ion-text-capitalize" size="large" expand="full" color="medium" shape="round" type="submit" [disabled]="!recoverForm2.form.valid">Recover Password</ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
