<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="movie !== null">
      <ion-button (click)="delete()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="update()">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="detail-content">
  <ion-progress-bar *ngIf="movie === null" color="dark" type="indeterminate"></ion-progress-bar>
  <ion-card *ngIf="movie !== null" class="ion-text-center">
    <ion-card-header>
      <ion-card-title class="ion-text-center ion-text-capitalize">{{ movie.movieTitle }}</ion-card-title>
    </ion-card-header>
    <img [src]="movie.movieImage" />
    <ion-card-header>
      <ion-card-subtitle>
        <ion-row>
          <ion-col size="6" class="ion-text-left">
            <div>Rate</div>
            <div class="movie-rating" style="display: inline-flex;">
              <ion-icon [name]="movie.movieRating >= 1 ? 'star' : 'star-outline'"></ion-icon>
              <ion-icon [name]="movie.movieRating >= 2 ? 'star' : 'star-outline'"></ion-icon>
              <ion-icon [name]="movie.movieRating >= 3 ? 'star' : 'star-outline'"></ion-icon>
              <ion-icon [name]="movie.movieRating >= 4 ? 'star' : 'star-outline'"></ion-icon>
              <ion-icon [name]="movie.movieRating >= 5 ? 'star' : 'star-outline'"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <span>{{ movie.movieDate ? movie.movieDate.toString().substring(0,10) :
              '0000/00/00' }}</span>
          </ion-col>
        </ion-row>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center ion-text-capitalize">
      {{ movie.movieDesc }}
    </ion-card-content>
  </ion-card>
</ion-content>