<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create Rate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="new-movie-content">
  <form (ngSubmit)="newRate()" [formGroup]="movieForm" #movieForm2="ngForm">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item class="ion-text-center">
            <ion-thumbnail slot="start" *ngIf="chosenUrl !== undefined">
              <img [src]="domSanitizer.bypassSecurityTrustUrl(chosenUrl)" />
            </ion-thumbnail>
            <input type="file" (change)="loadImageFromDevice($event)" id="file-input" accept="image/png, image/jpeg" required/>
            <ion-input hidden type="text" name="movieImage" formControlName="movieImage" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Release date</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" min="1940-01-01" max="2025-01-01" formControlName="movieDate"></ion-datetime>
          </ion-item>
          <ion-item class="ion-text-center">
            <ion-input type="text" placeholder="Movie Title" name="movieTitle" formControlName="movieTitle" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea placeholder="Enter movie description here..." formControlName="movieDesc" required></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-icon class="ratingIcon" [name]="rating >= 1 ? 'star' : 'star-outline'" (click)="setRating(1)" ></ion-icon>
            <ion-icon class="ratingIcon" [name]="rating >= 2 ? 'star' : 'star-outline'" (click)="setRating(2)"></ion-icon>
            <ion-icon class="ratingIcon" [name]="rating >= 3 ? 'star' : 'star-outline'" (click)="setRating(3)"></ion-icon>
            <ion-icon class="ratingIcon" [name]="rating >= 4 ? 'star' : 'star-outline'" (click)="setRating(4)"></ion-icon>
            <ion-icon class="ratingIcon" [name]="rating >= 5 ? 'star' : 'star-outline'" (click)="setRating(5)"></ion-icon>
          </ion-item>

          <ion-button style="margin: 1rem" class="ion-text-capitalize" expand="full" color="medium" shape="round"
            type="submit" [disabled]="!movieForm2.form.valid">Create Rate</ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>