<ion-content class="login-content ion-text-center" padding>
  <ion-row class="logo-row">
    <ion-col>
      <img [src]="appSvcInit && appService.appLogo !=='' ? appService.appLogo : '../../assets/imgs/Logo-PREX-cinema.png'" />
    </ion-col>
  </ion-row>
  <ion-button *ngIf="loginError" class="ion-text-capitalize" expand="block" color="danger" style="margin-top:1rem;">Something was wrong!</ion-button>
  <ion-progress-bar *ngIf="loadingBarVisible" color="dark" type="indeterminate"></ion-progress-bar>
  <form (ngSubmit)="login()" [formGroup]="loginForm"  #loginForm2="ngForm">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item class="ion-text-center">
            <ion-input type="email" placeholder="E-mail Address" formControlName="emailAddress" #username required></ion-input>
          </ion-item>
          <ion-item class="ion-text-center">
            <ion-input [type]="hide ? 'password':'text'" placeholder="Password" name="password" formControlName="passwordValue" required></ion-input>
            <ion-button style="position: fixed; right: 1.5rem; z-index: 2;" (click)="hide = !hide" fill="clear">
              <ion-icon color="dark" slot="icon-only" [name]="hide ? 'eye' : 'eye-off'"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-button style="margin: 1rem;" class="ion-text-capitalize" size="large" expand="full" color="medium" shape="round" type="submit" [disabled]="loadingBarVisible">Login</ion-button>
          <ion-button class="ion-text-capitalize" fill="clear" color="medium" [routerLink]="['/register']">Create account</ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<ion-footer class="ion-text-center">
  <ion-row>
    <ion-col>
      <ion-button style="font-weight: bold;" class="ion-text-capitalize" fill="clear" color="medium" [routerLink]="['/recover']">Forgot password?</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>