.register-content {
  .logo-row {
    img {
      max-width: 35% !important;
      padding-top: 2rem;
    }
  }
  ion-item {
    border: solid 1px;
    border-radius: 2rem;
    margin: 1rem;
  }
  
}
