<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="register-content ion-text-center" padding>
  <ion-row class="logo-row">
    <ion-col>
      <img [src]="appService.appLogo !== '' ? appService.appLogo : '../../assets/imgs/Logo-PREX-cinema.png'" />
    </ion-col>
  </ion-row>
  <ion-progress-bar *ngIf="loadingBarVisible" color="warning" type="indeterminate"></ion-progress-bar>
  <form (ngSubmit)="register()" [formGroup]="registerForm" #registerForm2="ngForm">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item class="ion-text-center">
            <ion-input email type="email" placeholder="Email Address" name="emailAddress" formControlName="emailAddress" required></ion-input>
          </ion-item>
          <ion-item class="ion-text-center">
            <ion-input [type]="hide ? 'password':'text'" placeholder="Password" name="password" formControlName="passwordValue" #required></ion-input>
            <ion-button style="position: fixed; right: 1.5rem; z-index: 2;" (click)="hide = !hide" fill="clear">
              <ion-icon color="warning" slot="icon-only" [name]="hide ? 'eye' : 'eye-off'"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item class="ion-text-center" color='warning'>
            <span>Your password must have at least eight characters, at least one letter, one number and one special character.</span>
          </ion-item>
          <ion-item class="ion-text-center">
            <ion-input [type]="hide2 ? 'password':'text'" placeholder="ConfirmPassword" name="password2" formControlName="passwordValue2" required></ion-input>
            <ion-button style="position: fixed; right: 1.5rem; z-index: 2;" (click)="hide2 = !hide2" fill="clear">
              <ion-icon color="warning" slot="icon-only" [name]="hide2 ? 'eye' : 'eye-off'"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-button style="margin: 1rem;" class="ion-text-capitalize" size="large" expand="full" color="medium" shape="round" type="submit" [disabled]="!registerForm2.form.valid || loadingBarVisible">Create Account</ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
