<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{appService.appName !== '' ? appService.appName : "PREX Cinema"}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <ion-progress-bar *ngIf="loadingBarVisible" color="secondary" type="indeterminate"></ion-progress-bar>
  <ion-refresher pullFactor="0.5" pullMin="100" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item class="ion-text-center" *ngIf="(!movies || movies.length === 0) && !loadingBarVisible">Add some movie to
      your collection and rate it!!</ion-item>
    <ion-item-sliding *ngFor="let movie of movies">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="delete(movie)">
          Delete
          <ion-icon slot="end" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-row class="movie-row" [routerLink]="['/detail-movie/'+movie.key]">
          <ion-col size="6"><img [src]="movie.movieImage" /></ion-col>
          <ion-col size="6">
            <div class="movie">
              <div class="movie-title ion-text-center ion-text-capitalize">
                {{movie.movieTitle}}
              </div>
              <div class="movie-content">
                {{movie.movieDesc}}
              </div>
            </div>
            <div class="movie-rating" style="font-size: small; ">
              <span class="movie-rating-label">Rate</span>
              <ion-row *ngIf="movie.movieRating">
                <ion-col size="12">
                  <ion-icon [name]="movie.movieRating >= 1 ? 'star' : 'star-outline'"></ion-icon>
                  <ion-icon [name]="movie.movieRating >= 2 ? 'star' : 'star-outline'"></ion-icon>
                  <ion-icon [name]="movie.movieRating >= 3 ? 'star' : 'star-outline'"></ion-icon>
                  <ion-icon [name]="movie.movieRating >= 4 ? 'star' : 'star-outline'"></ion-icon>
                  <ion-icon [name]="movie.movieRating >= 5 ? 'star' : 'star-outline'"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="!movie.movieRating">
                <ion-col size="12">
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" [routerLink]="['/update-movie/'+movie.key]">
          Edit
          <ion-icon slot="end" name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="light" [routerLink]="['/new-movie']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>