.home-content {
  ion-row {
    width: 100%;
  }
  .movie-row {
    height: 10rem;
  }
  ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    border-bottom: solid 1px;
  }
  img {
    max-height: 8rem;
  }
  .movie {
    max-height: 8rem;
    .movie-title {
      font-weight: bold;
      padding-bottom: 0.5rem;
    }
    .movie-content {
      overflow: scroll;
    }
  }
  .movie-rating {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: solid 1px;
    border-bottom: none;
    font-size: small;
    font-weight: bold;
    background: rgba(0,0,0,0.7);
    padding-top: 0.5rem;
    ion-icon {
      width: 20%;
      color: #ffe601;
    }
  }
  .movie-rating-label {
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
