<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Customize</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="customize-content">
  <form (ngSubmit)="updateApp()" [formGroup]="appForm" #appForm2="ngForm">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item class="ion-text-center">
            <ion-thumbnail slot="start">
              <img [src]=" imageSrc !== '' ? imageSrc : '../../assets/imgs/Logo-PREX-cinema.png'" />
            </ion-thumbnail>
            <input type="file" (change)="loadImageFromDevice($event)" #fileInput accept="image/png, image/jpeg" required/>
            <ion-input hidden type="text" name="appLogo" formControlName="appLogo">
            </ion-input>
          </ion-item>
          <ion-item class="ion-text-center">
            <ion-input type="text" placeholder="PREX-Cinema" name="appName" formControlName="appName">
            </ion-input>
          </ion-item>
          <ion-button style="margin: 1rem" class="ion-text-capitalize" expand="full" color="medium" shape="round"
            type="submit" >Apply</ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<ion-footer>
  <ion-button style="margin: 1rem" class="ion-text-capitalize" expand="full" color="medium" shape="round"
  (click)="restore()" >Restore Default Values</ion-button>
</ion-footer>
